{
  "presets": [
    ["@babel/env"],
    ["@babel/react"]
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "style": "css" }],
    ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "ant"],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-object-rest-spread",{ "loose": true, "useBuiltIns": true }],
    "@babel/plugin-transform-modules-commonjs"
  ]
}